<div class="bg-off-white pv4 ph3">
    <div class="mw7 center">
        <h2 class="f2 b lh-title mb3">{{.heading}}</h2>
        <p class="mw6 mb4">{{.description}}</p>

        <div class="overflow-auto">
            <table class="f6 w-100 mw8 center" cellspacing="0">
                <thead>
                    <tr>
                        <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Feature</th>
                        {{ range .plans }}
                        <th class="fw6 bb b--black-20 tc pb3 pr3 bg-white">
                            <div class="f4 b">{{ .plan }}</div>
                            <div class="f5 normal gray">${{ .price }}</div>
                        </th>
                        {{ end }}
                    </tr>
                </thead>
                <tbody class="lh-copy">
                    {{ range .features }}
                    <tr>
                        <td class="pv3 pr3 bb b--black-20">{{ .name }}</td>
                        <td class="pv3 pr3 bb b--black-20 tc">{{ .free }}</td>
                        <td class="pv3 pr3 bb b--black-20 tc">{{ .basic }}</td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>
    </div>
</div>